# Байт-код Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
env/
ENV/
.venv/
.env/

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Локальные конфиги
.env
.env.local
.env.*.local

# Jupyter Notebook
.ipynb_checkpoints/

# Логи и базы данных
*.log
*.sqlite3
*.db

# Пакеты
*.egg-info/
dist/
build/

# macOS
.DS_Store